{% load static %}

<!DOCTYPE html>

<html lang="en">

<!-- ===============================================-->
<!--    header starts here -->
<!-- ===============================================-->

<head>
    <base href="../../">
    <meta charset="utf-8" />
    <title>The Only Way to Calculate a Return On Website Traffic | ROWT</title>
    <meta name="description"
        content="We use Page Count & ARPU to estimate Crawls, Traffic, & Sales. The Estimate is then applied to calculate the ROWT of your site. Estimate Your ROWT!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="/static/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/goat.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/static/assets/media/logos/logo_primary_letter.png" />
</head>

<!-- ===============================================-->
<!--    header ends here -->
<!-- ===============================================-->

<div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <div
            class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center">
                <div class="login-form login-signup">

                    <!-- ===============================================-->
                    <!--    form starts here -->
                    <!-- ===============================================-->

                    {% include "form/templates/form_step_a.html" %}

                    <!-- ===============================================-->
                    <!--    form ends here -->
                    <!-- ===============================================-->

                    <!-- ===============================================-->
                    <!--    footer starts here -->
                    <!-- ===============================================-->

                    <div class="login-footer pt-12 text-center">
                        <div class="container d-flex flex-column flex-md-row justify-content-md-center">
                            <div class="font-size-md font-weight-bold order-2 order-md-1 py-2 py-md-0">
                                <p class="text-dark-50">created with 💖 & ☕ to help internet businesses estimate their
                                    <b>Return On Website Traffic</b></p>
                            </div>
                        </div>
                    </div>

                    <!-- ===============================================-->
                    <!--    footer ends here -->
                    <!-- ===============================================-->

                </div>
            </div>
        </div>
    </div>
</div>

</html>